[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary="*"
python-dotenv="*"
flask-sqlalchemy="*"
pydantic="*"
gunicorn="*"
flasgger="*"
apispec="*"
apispec-webframeworks="*"
marshmallow="*"
marshmallow-sqlalchemy="*"
flask-restful="*"
webargs="*"
flask-migrate="*"
marshmallow-enum="*"
enum34="*"
flask-cors="*"
flask-swagger = "*"
flask-swagger-ui = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
